.main_header_cont {
  width: 100%;
  height: 80px;
  /* background-color: #282828; */
  /* background-color: #044343; */
  background-color: rgb(28, 28, 30);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 9;
}

.remove_header {
  display: none;
}

.logo_cont {
  margin-left: 40px;
}

.logo {
  width: 50px;
  cursor: pointer;
}

.header_latter_e {
  fill: #cc1f30;
}


.header_latter_m {
  fill: #6e2764;
}


.header_latter_p {
  fill: #004d98;
}



.logo {
  transition: transform 1s;
  width: 80px;
  height: 80px;
}


.header_little_logo_path {
  fill: #e1e1e1;
}


.header_button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-right: 15px;
  transition: transform 0.3s ease, opacity 0.3s ease;

}

.header_button {
  font-weight: 500;
  /* font-size: 18px ; */
  font-family: 'Fira Sans', sans-serif;

}


/* ============================================ header button style ================ */

.mobile_discount {
  display: none;
}

.login_button_mobile {
  display: none;
}

.header_button {
  color: #e1e1e1;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  font-weight: 600;
  transition: color 0.3s ease;
  /* Add this line */

}

.header_button:hover:after {
  width: 100%;
  left: 0%;
}

.header_button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #00a753;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.header_button.active {
  color: #00a753;
}

.profile_picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;

}

.logout_button {
  color: tomato;
}

/* ============================================ warning sign =================================================== */
.login_and_warinng_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo_cont {
  margin-left: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.info_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.info_sign {
  width: 23px;
  height: 23px;
  color: rgba(255, 99, 71, 0.788);
  cursor: pointer;
}



.tooltip_h3 {
  margin: 0px;
  padding: 2px;
  font-size: 16px;
  color: tomato;
  width: 330px;
  height: auto;
  text-align: center;
}



.info_fot_mobile {
  max-width: 300px;
  text-align: center;
}

/* ======================================= header profile data ================================================= */
.discount {
  font-size: 20px;
  font-weight: 600;
  margin: 0px;
  background: linear-gradient(to right, #FFD700, #ffa600);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.header_profile_data_parent_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  /* Add this */
}

.tooltip {
  border: #bdbdbd69 1px solid;
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  width: 200px;
  margin-top: 10px;
}

.header_profile_data_parent_container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.header_profile_data_child_container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 3px;
}

.guest {
  font-size: 20px;
  font-weight: 600;
  margin: 0px;
  color: rgba(255, 99, 71, 0.801);
}

.header_profile_data_p {
  margin: 0px;
  font-size: small;
}

.mobile_userdata_container {
  display: none;
}

/* ==============================  mobile styles ============================== */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

/* ======================================  language switch styles ======================================= */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.react-select__menu {
  animation: slideDown 0.3s ease;
}


/* ---------------------------------------- */
.menu_icon {
  display: none;
}

@media (max-width: 768px) {
  .logo_cont {
    margin-left: 10px;
  }

  .logo {
    width: 60px
  }

  .mobile_userdata_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
  }

  .login_button_mobile {
    display: flex;
  }

  .mobile_discount {
    display: flex;
    font-size: 15px;
    background: linear-gradient(to right, #FFD700, #ffa600);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
  }

  .old_discount_remove_on_mobile {
    display: none;
  }

  .header_button_container {
    display: none;
    transform: translateY(-100%);
    opacity: 0;
  }

  .menu_icon {
    display: block;
    margin-right: 40px;
    cursor: pointer;
  }

  .header_button_container.mobile_visible {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: #222222;
    width: 100%;
    padding: 10px;
    animation: slideDown 0.3s ease forwards;
  }

  .header_button_container.mobile_hidden {
    animation: slideUp 0.3s ease forwards;
  }

  .language_switch {
    width: 80px;
    height: 35px;
    font-size: 16px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 25px;
    background-position: right 5px center;
    background-size: 14px 14px;
  }
}