

.login_mother_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  gap: 40px;
}


.Login_child_container{
  border: 1px solid #e1e1e1;
  width: 400px;
  height: 400px;
  padding: 15px;
}

.login_company_logo{
  width: 100px;
}


.cls-1 {
  fill: #cc1f30;
}

.cls-2 {
  fill: #004d98;
}

.cls-3 {
  fill: #6e2764;
}

.cls-4 {
  fill: #ffffff;
}