.mainpage_main_container {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.main_logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainpage_logo {
  width: 400px;
}

.mainpage_header {
  font-family: "Anton", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  color: aliceblue;
  text-align: center;
  margin-top: 50px;
  position: relative;
  display: flex;
  align-items: center;
}


/* ===================================================================================== */
@keyframes changewords {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  10% {
    transform: translateY(0);
    opacity: 1;
  }

  33% {
    transform: translateY(0);
    opacity: 1;
  }

  43% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.words {
  text-align: left;
  width: 250px;
  height: 40px;
  display: inline-block;
  overflow: hidden;
  display: flex;
  padding: 3px;
  border-radius: 10px;
  position: relative;
}

.word {
  color: #de6449;
  position: absolute;
  top: 0;
  height: 40px;
  width: 100%;
  overflow: hidden;
  animation: changewords 6s infinite;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  opacity: 0;
}

.inner-word {
  padding-right: 10px;
}

.word:nth-of-type(2) {
  color: #791e94;
  animation-delay: 2s;
}

.word:nth-of-type(3) {
  color: #41d3bd;
  animation-delay: 4s;
}




/* ================================== mobile styles =================================== */



@media (max-width: 768px) {
  .mainpage_logo {
    width: 300px;
  }


  .mainpage_header {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    padding: 0 10px;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .word {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }


}