/* .main_logo_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 700px;
  height: 100vh;
}

.logo_image{
  width: 800px;
  margin-top: 50px;
  z-index: 9;
  cursor: pointer;
}




.background_for_logo{
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
  position: absolute;
  width: 100%;
}

.slogan{
  width: 400px;
  color: aliceblue;
  mask-image: none;
  font-family: "Anton", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 42px;
  opacity: 1;
  z-index: 9;
}


@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
} */










.mainpage_main_container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}


