
.password_reset_message_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.password_reset_message_h2{
  font-size: 20px;
  color: #00a753;
  font-weight: 600;
  text-align: center;
  margin: 0px;
}

.password_reset_message_p{
  font-size: 15px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  margin: 0px;
}

.password_reset_main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  gap: 50px;
}

.reset_password_request_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.reset_password_request_h1 {
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
}



.password_reset_heading {
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
}

.reset_header_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.password_reset_content_container {
  border: 1px solid #4b4b4b;
  width: 400px;
  padding: 15px;
  height: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}



.password_reset_icon_input_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
  gap: 20px;

}

.password_reset_icon {
  width: 30px;
  font-size: 30px;
}


/* ========================== input styles =============================== */



.password_reset_input {
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  background-color: rgb(28, 28, 30);
  box-shadow: 0 0 .4vw rgba(0, 0, 0, 0.5), 0 0 0 .15vw transparent;
  border-radius: 0.4vw;
  border: none;
  outline: none;
  padding: 0.4vw;
  transition: .4s;
  width: 80%;
  height: 40px;
}

.password_reset_input:hover {
  box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
}

.password_reset_input:focus {
  box-shadow: 0 0 0 .15vw #00a753;
}

/* -------------------- checkbox input sryles -------------------- */

.reset_password_checkbox_container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.reset_password_checkbox_input {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
  margin-left: 10px;
}

.reset_password_checkbox_input:checked {
  background-color: #00a753;
}

.reset_password_checkbox_input:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

/* Ensure label and checkbox are inline */
.reset_password_checkbox_container label {
  display: flex;
  align-items: center;
  gap: 5px;
}


.reset_loading_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

/* =============================================================== */

.reset_button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}

.reset_password_button {
  background-color: #00a753;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.valid_coloure {
  background-color: #00a753;
}

.invalide_coloure {
  background-color: #686868;
  cursor: not-allowed;
}


.valid_coloure:hover {
  background-color: #00a75496;
}

.reset_password_button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #00a753;
}

.reset_password_icon {
  width: 25px;
  font-size: 40px;
}

.show_reset_password {
  margin: 0px;
}


.password_reset_error{
  color: tomato;
  font-size: 15px;
  font-weight: 500;
  margin: 0px;
}

/* ===================================== validation container ===================================== */


.password_reset_validations_container {
  margin-left: 10px;
  margin-top: 10px;
}


.reset_true {
  color: #00a753;
}

.reset_false {
  color: tomato;
}

.password_reset_validation_p {
  margin: 0px;
  font-size: 15px;
  font-weight: 500;
  transition: color 0.3s ease;

}

/* ===========================   mobile styles ====================================== */



@media screen and (max-width: 760px) {


  .password_reset_content_container {
    border: none;
    box-shadow: none;
    width: auto;
  }

  .password_reset_icon_input_container {
    flex-direction: column;
    gap: 10px;
  }


  .reset_password_checkbox_container{
    margin-left: 20px;
  }

  .password_reset_validations_container {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 20px;
  }

.reset_button_container{
  margin-top: 20px;
}

}