


.main_project_containet{
  padding: 10px;
}


.projects_header_container{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


.project_header_line{
  width: 85%;
  height: 1px;
  background-color: #00a753;
}


/* =================================== project container styles ======================================== */


.projects_parent_container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 30px;
}


.project_container {
  width: 600px;
  height: 300px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #555555;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: all 0.5s;
}

.project_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent dark overlay */
  z-index: 1;
}

.project_image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 0;
  transition: transform 1s ease; /* Smooth zoom transition */
}

.project_container:hover .project_image_container img {
  transform: scale(1.7);
}

.project_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff; /* White text color */
  padding: 10px 20px; /* Padding for better spacing */
  border-radius: 5px; /* Rounded corners */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Slight text shadow */
  transition: transform 0.5s ease, font-size 0.5s ease; /* Smooth transition for size */

}


.project_container:hover .project_title {
  transform: translate(-50%, -50%) scale(1.1); /* Slightly increase size */
}




