.shpash_screen_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensure it takes the full width */
  height: 100vh;
}

.main_logo_svg {
  width: 100%;
  height: auto;
  max-width: 600px; /* Adjust max-width as needed */
}

.logo_m,
.logo_e,
.logo_p {
  stroke-width: 0;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  transform-origin: center; /* Set the transform origin to the center */
  animation-delay: 1s; /* Add a 1-second delay before animation starts */
}

.logo_m {
  fill: #6f2865;
  animation-name: moveM;
  transform: translate(-143px, 50px); /* Set initial position */
}

.logo_e {
  fill: #cc2031;
  animation-name: moveE;
  transform: translate(-130px, 160px) rotate(45deg); /* Set initial position */
}

.logo_p {
  fill: #084f98;
  animation-name: moveP;
  transform: translate(70px, 50px); /* Set initial position */
}

.logo_unity {
  fill: aliceblue;
}

@keyframes moveM {
  from {
    transform: translate(-143px, 50px);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes moveE {
  from {
    transform: translate(-130px, 160px) rotate(45deg);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes moveP {
  from {
    transform: translate(70px, 50px);
  }
  to {
    transform: translate(0, 0);
  }
}


.logo_unity {
  fill: aliceblue;
  opacity: 0; /* Initially hide the letters */
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform:none !important;
}


.first {
  animation-name: fadeIn;
  animation-delay: 2s;
}

.second {
  animation-name: fadeIn;
  animation-delay: 2.3s;
}

.third {
  animation-name: fadeIn;
  animation-delay: 2.6s;
}

.fourth {
  animation-name: fadeIn;
  animation-delay: 2.9s;
}

.fivth {
  animation-name: fadeIn;
  animation-delay: 3.2s;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.path-animation {
  animation: fadeIn 2s ease-in-out forwards;
}


@media screen and (max-width: 768px) {
  .main_logo_svg {
    max-width: 300px;
  }
  .shpash_screen_container{
    padding-left: 10px;
  }
}






/* ====================================== custom loader styles ====================================== */

/* 


.test_logo {
  width: 200px;
  height: 200px;
  animation: rotateSvg 2s cubic-bezier(0.25, 1, 0.5, 1) infinite;
}

@keyframes moveM {
  0%, 50%, 100% { transform: translate(0, 0); }
  25% { transform: translate(-50px, 20px); }
  75% { transform: translate(-50px, 20px); }
}

@keyframes moveE {
  0%, 50%, 100% { transform: translate(0, 0); }
  25% { transform: translate(0, -50px); }
  75% { transform: translate(0, -50px); }
}

@keyframes moveP {
  0%, 50%, 100% { transform: translate(0, 0); }
  25% { transform: translate(50px, 20px); }
  75% { transform: translate(50px, 20px); }
}

@keyframes rotateSvg {
  0%, 50% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.latter_m {
  animation: moveM 4s cubic-bezier(0.25, 1, 0.5, 1) infinite;
}

.latter_e {
  animation: moveE 4s cubic-bezier(0.25, 1, 0.5, 1) infinite;
}

.latter_p {
  animation: moveP 4s cubic-bezier(0.25, 1, 0.5, 1) infinite;
} */