@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');




/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
  /* Adjust the width as needed */
}

::-webkit-scrollbar-track {
  background: #6d6d6d;
  /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #1d1d1d;
  /* Background color of the scrollbar thumb */
  border-radius: 10px;
  /* Rounded corners of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #424242;
  /* Background color of the scrollbar thumb on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  /* Make the scrollbar thinner */
  scrollbar-color: #121212 #979797;
  /* Thumb color and track color */
}


html {
  margin: 0;
  top: 0;
  /* background-color: #fffefe; */
  background-color: #121212;
  color: #E4E4E4;
}


body {
  margin: 0;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  overflow-x: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}